{% extends 'base.html' %}
{% load static %}
{% block pagecontant %}





    <!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								 Course Enrollment
							</h1>
							<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'courses_list' %}"> Popular Courses</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
<!-- start banner Area -->
{#			<section class="banner-area relative" id="home" style="background: url('{{ homebanner.background_image.url }}') right;width: 100%">#}
{#				<div class="overlay overlay-bg"></div>#}
{#				<div class="container">#}
{#					<div class="row fullscreen d-flex align-items-center justify-content-between">#}
{#						<div class="banner-content col-lg-9 col-md-12">#}
{#							<h1 class="text-uppercase">#}
{#								{{ homebanner.heading }}#}
{#							</h1>#}
{#							<p class="pt-10 pb-10">#}
{#								{{ homebanner.content }}#}
{#							</p>#}
{#							<a href="{% url 'home' %}" class="primary-btn text-uppercase">Get Started</a>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</section>#}
			<!-- End banner Area -->

			<!-- Start feature Area -->





			<!-- Start search-course Area -->
			<section class="search-course-area relative" style="background: url('{{ homebanner.background_image.url }}') right;width: 100%">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-6 col-md-6 search-course-left">
							<h1 class="text-white">
								{{ course_details.title }}  <br>

							</h1>
							<p>
								{{ course_details.description }}
							</p>
							<div class="row details-content">
                                <div class="col single-detials">
{#									<span class="lnr lnr-graduation-hat"></span>#}
                                    <span class="lnr lnr-user"></span>
									<a href="#"><h4>{{ course_details.trainer_name }}</h4></a>
									<p>
										Usage of the Internet is becoming more common due to rapid advancement of technology and power.
									</p>
								</div>
								<div class="col single-detials">
                                    <span class="fa fa-money"></span>
									<a href="#"><h4> Rs {{ course_details.course_fee }} </h4></a>
									<p>
										Usage of the Internet is becoming more common due to rapid advancement of technology and power.
									</p>
								</div>
								<div class="col single-detials">
									<span class="lnr lnr-calendar-full"></span>
									<a href="#"><h4>{{ course_details.shedule }}</h4></a>
									<p>
										Usage of the Internet is becoming more common due to rapid advancement of technology and power.
									</p>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 search-course-right section-gap" >
							<form class="form-wrap" action="#">
								<h4 class="text-white pb-20 text-center mb-30">Search for Available Course</h4>
								<input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" >
								<input type="phone" class="form-control" name="phone" placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'" >
								<input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'" >
                                <input type="text" class="form-control" name="name" placeholder="{{ course_details.title }}" onfocus="this.placeholder = '{{ course_details.title }}" onblur="this.placeholder = '{{ course_details.title }}'"  value="{{ course_details.title }}" disabled>
{#								<div class="form-select" id="service-select">#}
{#									<select>#}
{#										<option datd-display="">Choose Course</option>#}
{#                                        {% for course in courses %}#}
{#										<option value="1">{{ course.title }}</option>#}
{#                                        {% endfor %}#}
{#									</select>#}
{#								</div>#}
								<button class="primary-btn text-uppercase">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End search-course Area -->



			<!-- End upcoming-event Area -->





			<!-- Start blog Area -->

			<!-- End blog Area -->


			<!-- End review Area -->


			<!-- End cta-two Area -->

{% endblock %}